*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins;

background:#0D0D0D;

color:white;

}

/* NAVBAR */

.navbar{

display:flex;

justify-content:space-between;

padding:15px 50px;

background:black;

position:sticky;

top:0;

z-index:1000;

}

.nav-logo{

width:40px;

}

.logo-container{

display:flex;

align-items:center;

gap:10px;

}

.logo-text{

font-family:Orbitron;

color:#00F5FF;

font-size:20px;

}

.nav-links{

display:flex;

gap:20px;

list-style:none;

align-items:center;

}

.nav-links a{

color:white;

text-decoration:none;

font-size:18px;

}

/* HERO */

.hero{

text-align:center;

padding:100px 20px;

}

.hero-logo{

width:180px;

border-radius:50%;

box-shadow:

0 0 20px #00F5FF,

0 0 40px #00F5FF;

}

.hero h1{

font-size:40px;

margin-top:20px;

}

.hero h2{

color:#00F5FF;

margin-top:10px;

}

/* BUTTON */

.btn{

margin-top:20px;

padding:12px 30px;

background:linear-gradient(45deg,#00F5FF,#8A2BE2);

border:none;

color:white;

font-size:18px;

cursor:pointer;

border-radius:30px;

transition:.20s;

}

.btn:hover{

transform:scale(1.1);

}

.github{

background:linear-gradient(45deg,#333,#000);

}

/* SOCIAL */

.social-buttons{

display:flex;

justify-content:center;

gap:15px;

flex-wrap:wrap;

}

/* SECTION */

section{

padding:80px 20px;

text-align:center;

}

.section-title{

font-size:30px;

margin-bottom:30px;

color:#00F5FF;

}

/* CARDS */

.grid{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

.card{

background:#111;

padding:30px;

border-radius:15px;

transition:.3s;

min-width:200px;

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 0 20px #00F5FF;

}

/* PROJECT BUTTON */

.project-btn{

margin-top:15px;

padding:8px 20px;

background:#00F5FF;

border:none;

border-radius:20px;

cursor:pointer;

}

/* FOOTER */

footer{

padding:20px;

text-align:center;

background:black;

}

.footer-social{

font-size:25px;

margin-bottom:10px;

}

.footer-social i{

margin:10px;

cursor:pointer;

}

.footer-social i:hover{

color:#00F5FF;

}

